// Set the npm registry URL
registry=http://10.63.9.35:8081/repository/npm_hosted/

// Auth token or base64 encoded username:password for that registry
// Format: //<registry-host>/repository/npm_group/:_auth="base64(username:password)"

// Example:
# Replace YWRtaW58cGFzc3dvcmQ= with your base64 encoded "username:password"
http://10.63.9.35:8081/repository/npm_group/:_auth="YWRtaW58Z3VuYS5SMDQxMg=="

// Disable strict SSL if you use self-signed certs (optional)
strict-ssl=false
